.note {
  padding: 10px;
  border: 2px solid var(--black);
  border-radius: 5px;
  width: 50rem;
  gap: 5px;
  height: min-content;
}

.note-content {
  display: inherit;
  gap: 5px;
  height: max-content;
  align-items: center;
  flex-basis: 100%;
}

.note-body,
.note-title {
  border: none;
  background-color: var(--gray);
  width: 95%;
}

.note-body {
  flex: 99;
}

.note-title {
  flex: 0;
}

.icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.note-pin {
  margin: 5px 5px 0 auto;
}

.note-tags {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  border: 2px solid var(--dark-gray);
  border-radius: 66px;
  padding-left: 5px;
  margin: 2px;
  background-color: var(--gray);
}

.note-footer {
  padding: 5px;
  flex-wrap: nowrap;
}

.note-buttons {
  margin-left: auto;
  display: inherit;
  gap: 5px;
}

.note-date {
  width: 100%;
  flex-basis: 70%;
  flex-shrink: 0;
}
