html {
  --red-card: #e26f6f;
  --blue-card: #716fe2;
  --green-card: #62936c;
  --orange-card: #d6a439fc;
}

.redCard {
  background-color: var(--red-card);
}

.blueCard {
  background-color: var(--blue-card);
}

.greenCard {
  background-color: var(--green-card);
}

.orangeCard {
  background-color: var(--orange-card);
}

.defaultColor {
  background-color: var(--theme-background);
}

.note {
  padding: 10px;
  border: 2px solid;
  border-radius: 5px;
  width: 45vw;
  gap: 5px;
  height: min-content;
}

.note-content {
  display: inherit;
  gap: 5px;
  height: max-content;
  align-items: center;
  flex-basis: 100%;
}

.note-body,
.note-title {
  border: none;
  background-color: var(--gray);
  width: 95%;
}

.note-body {
  flex: 99;
}

.note-title {
  flex: 0;
}

.note-top-icons {
  justify-content: end;
}

.note-tags {
  display: inline-flex;
  justify-content: space-between;
  align-items: baseline;
  border: 2px solid var(--dark-gray);
  border-radius: 5px;
  padding-left: 5px;
  margin: 2px;
  background-color: var(--gray);
  color: var(--black);
  padding: 2px 3px;
}

.note-footer {
  padding: 5px;
  justify-content: space-between;
  width: 100%;
}

.note-buttons {
  display: inherit;
  gap: 5px;
}

.note-date {
  flex-shrink: 0;
  margin-right: 10px;
}

.dropdown {
  position: absolute;
  top: 4rem;
  left: -5rem;
  background-color: var(--shadow-gray);
  padding: 2px;
  margin-right: 5px;
  border: 2px solid;
}

.dark-theme .dropdown {
  background-color: var(--dark-black);
}

.dropdown-container {
  position: relative;
}

@media only screen and (max-width: 768px) {
  .note-card {
    width: 50vw;
  }
  .note {
    width: 65vw;
  }
}

@media only screen and (max-width: 480px) {
  .note {
    width: 80vw;
  }

  .label-button .dropdown {
    left: -250%;
  }
}
