.search-box {
  display: flex;
  gap: 5px;
  border: 2px solid;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  width: 40vw;
}

.search-box input {
  border: none;
  flex: 1;
}
.search-box input:focus {
  outline: none;
  border-bottom: 2px solid var(--input-border);
}

.no-link {
  text-decoration: none;
  color: inherit;
}

.dark-theme .icon-button .no-link {
  text-decoration: none;
  color: var(--white);
}
