.modal-note-editor {
  position: absolute;
  width: 45vw;
  z-index: 99;
}

@media only screen and (max-width: 768px) {
  .modal-note-editor {
    width: 60vw;
  }
}

@media only screen and (max-width: 480px) {
  .modal-note-editor {
    width: 80vw;
  }
}
