.password-show {
  align-self: center;
  margin-left: auto;
  z-index: 99;
}

.password-input {
  flex: 99 1 auto;
  width: 100%;
}

.button:hover {
  transform: scale(1.05);
  box-shadow: 1px 1px 9px -1px var(--primary-color);
}

.email-input,
.password-input {
  border: none;
  border-bottom: 2px solid var(--input-border);
}

.form-card {
  padding: 10px;
  max-width: 30%;
}

.create-note-button {
  position: fixed;
  bottom: 10rem;
  left: 10rem;
}

.pinned-notes,
.user-notes {
  margin: 2.5rem 0;
  gap: 1rem;
}

.notes-page,
.login-main,
.signup-main,
.hero-wrapper,
.filter-notes-page {
  min-width: 100%;
  min-height: 100%;
  padding-bottom: 2rem;
}

.filter-notes-page {
  position: relative;
}

.hero-image {
  max-width: 50%;
}

@media screen and (max-width: 1020px) {
  .form-card {
    max-width: 45%;
  }
}

@media screen and (max-width: 620px) {
  .form-card {
    max-width: 55%;
  }
}

@media screen and (max-width: 500px) {
  .form-card {
    max-width: 70%;
  }
  .hero-image {
    max-width: 70%;
  }
}
