.label-button-container {
  position: relative;
}

.label-dropdown {
  z-index: 99;
  position: absolute;
  left: 3rem;
  top: 3rem;
  background-color: var(--shadow-gray);
  padding: 5px;
}

.label-input {
  border: 2px solid var(--dark-gray);
}

.add-label {
  gap: 5px;
  margin: 5px;
}

.add-label button {
  width: max-content;
}
