.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--translucent-gray);
}

.modal {
  position: fixed;
  top: 20rem;
  left: 50%;
  transform: translateX(-50%);
}

.modal-close-button {
  color: var(--white);
  position: absolute;
  right: 0;
  top: -4.5rem;
  font-size: 4rem;
}
