@import url(https://unpkg.com/mockman-js@latest/dist/style.css);
@import url(https://socket-ui-1.netlify.app/components/components.css);

html {
  --primary-color: #508dce;
  --accent-color: #8ed7f6;
  --secondary-color: #ee2f5c;
  --theme-background: rgb(243, 239, 239);
}

.dark-theme {
  --theme-background: rgb(39, 38, 38);
  color: var(--white);
  background-color: rgb(10, 10, 10);
  border-color: var(--white);
}

.App {
  min-height: 100vh;
}

.display-none {
  display: none;
}

.icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.icon-button:hover {
  transform: scale(1.05);
}

.flex-wrap {
  flex-wrap: wrap;
}

@media only screen and (min-width: 480px) {
  html {
    font-size: 45%;
  }
}

@media only screen and (min-width: 640px) {
  html {
    font-size: 47%;
  }
}

@media only screen and (min-width: 768px) {
  html {
    font-size: 50%;
  }
}

@media only screen and (min-width: 1024px) {
  html {
    font-size: 52.5%;
  }
}

@media only screen and (min-width: 1280px) {
  html {
    font-size: 57.5%;
  }
}

@media only screen and (min-width: 1536px) {
  html {
    font-size: 62.5%;
  }
}
