@import url(https://unpkg.com/mockman-js@latest/dist/style.css);
@import url(https://socket-ui-1.netlify.app/components/components.css);

html {
  --primary-color: #508dce;
  --accent-color: #8ed7f6;
  --secondary-color: #f5476fe3;
  --theme-background: rgb(234, 226, 226);
  --dark-bg: rgb(39, 38, 38);
  --dark-black: rgb(10, 10, 10);
  box-sizing: border-box;
}

.dark-theme {
  --theme-background: rgb(39, 38, 38);
  color: var(--white);
  background-color: var(--dark-black);
  border-color: var(--white);
}

.dark-theme input {
  background-color: var(--dark-black);
}
.App {
  min-height: 100vh;
  min-width: 100%;
  overflow-x: hidden;
}

.display-none {
  display: none;
}

.icon-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: inherit;
}

.icon-button:hover {
  transform: scale(1.05);
}

.flex-wrap {
  flex-wrap: wrap;
}

@media only screen and (max-width: 480px) {
  html {
    font-size: 47%;
  }
  .button {
    min-width: 48px;
    min-height: 40px;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
  html {
    font-size: 50%;
  }
  .button {
    min-width: 48px;
    min-height: 40px;
    border-radius: 5px;
  }
}

@media only screen and (min-width: 1280px) {
  html {
    font-size: 57%;
  }
}
