.note-card {
  width: 40vw;
  border-radius: 5px;
  border: 2px solid;
  padding: 5px;
}

.note-card-header {
  display: flex;
  justify-content: flex-end;
}

.priority-info {
  margin-right: auto;
}

.highlighted-text {
  background-color: var(--accent-color);
}
